<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h2>Editing the details</h2>
    <h3>Id<%=post.id%></h3>
    <h3>Name<%=post.name%></h3>

    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
      <textarea name="content"><%=post.content%></textarea>
      <button>Submit</button>
    </form>
  </body>
</html>
